/* =============================
   PAGE
============================= */

.home-container {
  min-height: 100vh;
  background: #fcfcfc00;
  display: flex;
  flex-direction: column;
}


.hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem;
  text-align: center;
}

.hero-content {
  max-width: 700px;

  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #000000;
  }

  p {
    font-size: 1.6rem;
    color: #000000;
    margin-bottom: 2.5rem;
  }
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}


.btn {
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.primary {
  background: #0095f6;
  color: white;
}

.primary:hover {
  background: #1877f2;
  transform: translateY(-2px);
}

.secondary {
  border: none;
  color: #000000;
  background: #f5f5f5;
}

.secondary:hover {
  background: #0094f694;
  transform: translateY(-2px);
}

.features {
  padding: 4rem 2rem;
  text-align: center;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    color: #000000;
  }
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2rem;
  max-width: 1000px;
  margin: auto;
}

.feature-card {
  background: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  padding: 2rem;
  transition: 0.3s ease;
  cursor: pointer;

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.3rem;
    color: #353535;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  }
}



.home-footer {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #020202;
}